<!DOCTYPE html>
<html>
<head>
  <title>TjConnection</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">

  <%= navbar :static-top  do %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Add Restaurant', new_restaurant_path %>
  <% end %>
</div>

<%= yield %>
<div id="footer"></div>

</body>
</html>
